body { 
    margin: 2%;
    background:#faebd0;
    font-family: "Monaco";
}

header {
    text-align: center;
}

.title:hover {
    cursor: pointer;
}

.story-title {
    font-size: 1.5em;
    font-family: "Baskerville";
    fill: steelBlue;
    font-weight: bold;
    text-align: center;
}

#homescreen {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
    display: block;
    color: grey;
}

.male{
    fill: #3182bd;
    text-anchor:start;
    color: #3182bd;
}
.neutral{
    fill: rgb(238, 177, 62);
    color: rgb(238, 177, 62);
    text-anchor:start;
}
.female{
    fill: rgb(222, 96, 117);
    color: rgb(222, 96, 117);
    text-anchor:end;
}

.genderPercentageText{
    font-size: 15px;
}

.d3-tip {
    padding: 5px;
    min-width: 350px;
    border-style: groove;
    background: #FFFFFF;
    color: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    pointer-events: none;
}
.tooltip-title{
    font-size:18px;
    font-family: "Arial Black";
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
    display: inline;
    font-size: 10px;
    width: 100%;
    color: rgba(0, 0, 0, 0.8);
    position: relative;
    pointer-events: none;
}

/* Northward tooltips */
.d3-tip.n:after {
    content: "\25BC";
    top: 100%;
    left: 0;
    text-align: center;
}

/* Eastward tooltips */
.d3-tip.e:after {
    content: "\26A0";
    top: -800px;
    left: -8px;
}

/* Southward tooltips */
.d3-tip.s:after {
    content: "\25B2";
    top: -8px;
    left: 1481px;
    text-align: center;
}

/* Westward tooltips */
.d3-tip.w:after {
    content: "\25B6";
    top: 50%;
    left: 100%;
}

h3{
    text-anchor:middle;
    font-size: 32px;
}